doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='main.css')
		title#tittle RGB: color picker
		meta(name="description" content='Color picker, and rgb,hsl, and hwb converter. 3d color space model with location of the selected color.')
		meta(name="keywords" content='RGB,HSL,HSV,HSB,Color Picker,Rgb cube, tool, sliders')
		meta(name="author" content='Leon Nikolai Engelsvold')
		link(rel="icon" sizes="any" type="data:image/svg+xml" href="favicon.ico")
		script(src='p5.min.js' type='text/javascript')
	body
	.wrapper
		#sliders
			.field#rgb
				span.bar rgb
				label  #
				input#hex(type="text" placeholder="hex code" onchange=`
				hexToRgb(this.value); uppdateRGB(); uppdate(); 
				this.value = this.value.toUpperCase()
				`)
				select.option(oninput=`
				for (let i of document.getElementsByClassName("rgb")) {
					rgb.var = this.value
					i.max	= this.value;
					i.step = this.value == 1 ? "0.001" : "1";
				}
				uppdate();
				`)
					option(value="255") 24-bit
					option(value="100") percent
					option(value="1024") 30-bit
					option(value="4096") 36-bit
					option(value="65536") 48-bit
				div
					input#red.rgb.in(type="range"   value=127.5 max=255 min=0 step="1"   oninput='this.nextSibling.value     = this.value = minmaxsnap(this); active = 0; rgb.r = this.value / this.max * 255;	uppdateRGB();uppdate();')
					input#red2.rgb.in(type="number" value=127.5 max=255 min=0 step="any" oninput='this.previousSibling.value = this.value = minmaxsnap(this); active = 0; rgb.r = this.value / this.max * 255;	uppdateRGB();uppdate();')
				div
					input#green.rgb.in(type="range"   value=127.5 max=255 min=0 step="1" oninput='this.nextSibling.value     = this.value = minmaxsnap(this); active = 1; rgb.g = this.value / this.max * 255;uppdateRGB();uppdate();')
					input#green2.rgb.in(type="number" value=127.5 max=255 min=0 step="any" oninput='this.previousSibling.value = this.value = minmaxsnap(this); active = 1;rgb.g = this.value / this.max * 255;uppdateRGB();uppdate();')
				div
					input#blue.rgb.in(type="range"   value=127.5 max=255 min=0 step="1" oninput='this.nextSibling.value     = this.value = minmaxsnap(this); active = 2; rgb.b = this.value / this.max * 255;uppdateRGB();uppdate();')
					input#blue2.rgb.in(type="number" value=127.5 max=255 min=0 step="any" oninput='this.previousSibling.value = this.value = minmaxsnap(this); active = 2; rgb.b = this.value / this.max * 255;uppdateRGB();uppdate();')
				div
					input(list="webname" placeholder="html color name" hidden)
					datalist(id="webname")
						option(value="Aliceblue")
						option(value="Antiquewhite")
						option(value="Aqua")
						option(value="Aquamarine")
						option(value="Azure")
						option(value="Beige")
						option(value="Bisque")
						option(value="Black")
						option(value="Blanchedalmond")
						option(value="Blue")
						option(value="Blueviolet")
						option(value="Brown")
						option(value="Burlywood")
						option(value="Cadetblue")
						option(value="Chartreuse")
						option(value="Chocolate")
						option(value="Coral")
						option(value="Cornflowerblue")
						option(value="Cornsilk")
						option(value="Crimson")
						option(value="Cyan")
						option(value="Darkblue")
						option(value="Darkcyan")
						option(value="Darkgoldenrod")
						option(value="Darkgray")
						option(value="Darkgreen")
						option(value="Darkgrey")
						option(value="Darkkhaki")
						option(value="Darkmagenta")
						option(value="Darkolivegreen")
						option(value="Darkorange")
						option(value="Darkorchid")
						option(value="Darkred")
						option(value="Darksalmon")
						option(value="Darkseagreen")
						option(value="Darkslateblue")
						option(value="Darkslategray")
						option(value="Darkslategrey")
						option(value="Darkturquoise")
						option(value="Darkviolet")
						option(value="Deeppink")
						option(value="Deepskyblue")
						option(value="Dimgray")
						option(value="Dimgrey")
						option(value="Dodgerblue")
						option(value="Firebrick")
						option(value="Floralwhite")
						option(value="Forestgreen")
						option(value="Fuchsia")
						option(value="Gainsboro")
						option(value="Ghostwhite")
						option(value="Goldenrod")
						option(value="Gold")
						option(value="Gray")
						option(value="Green")
						option(value="Greenyellow")
						option(value="Grey")
						option(value="Honeydew")
						option(value="Hotpink")
						option(value="Indianred")
						option(value="Indigo")
						option(value="Ivory")
						option(value="Khaki")
						option(value="Lavenderblush")
						option(value="Lavender")
						option(value="Lawngreen")
						option(value="Lemonchiffon")
						option(value="Lightblue")
						option(value="Lightcoral")
						option(value="Lightcyan")
						option(value="Lightgoldenrodyellow")
						option(value="Lightgray")
						option(value="Lightgreen")
						option(value="Lightgrey")
						option(value="Lightpink")
						option(value="Lightsalmon")
						option(value="Lightseagreen")
						option(value="Lightskyblue")
						option(value="Lightslategray")
						option(value="Lightslategrey")
						option(value="Lightsteelblue")
						option(value="Lightyellow")
						option(value="Lime")
						option(value="Limegreen")
						option(value="Linen")
						option(value="Magenta")
						option(value="Maroon")
						option(value="Mediumaquamarine")
						option(value="Mediumblue")
						option(value="Mediumorchid")
						option(value="Mediumpurple")
						option(value="Mediumseagreen")
						option(value="Mediumslateblue")
						option(value="Mediumspringgreen")
						option(value="Mediumturquoise")
						option(value="Mediumvioletred")
						option(value="Midnightblue")
						option(value="Mintcream")
						option(value="Mistyrose")
						option(value="Moccasin")
						option(value="Navajowhite")
						option(value="Navy")
						option(value="Oldlace")
						option(value="Olive")
						option(value="Olivedrab")
						option(value="Orange")
						option(value="Orangered")
						option(value="Orchid")
						option(value="Palegoldenrod")
						option(value="Palegreen")
						option(value="Paleturquoise")
						option(value="Palevioletred")
						option(value="Papayawhip")
						option(value="Peachpuff")
						option(value="Peru")
						option(value="Pink")
						option(value="Plum")
						option(value="Powderblue")
						option(value="Purple")
						option(value="Rebeccapurple")
						option(value="Red")
						option(value="Rosybrown")
						option(value="Royalblue")
						option(value="Saddlebrown")
						option(value="Salmon")
						option(value="Sandybrown")
						option(value="Seagreen")
						option(value="Seashell")
						option(value="Sienna")
						option(value="Silver")
						option(value="Skyblue")
						option(value="Slateblue")
						option(value="Slategray")
						option(value="Slategrey")
						option(value="Snow")
						option(value="Springgreen")
						option(value="Steelblue")
						option(value="Tan")
						option(value="Teal")
						option(value="Thistle")
						option(value="Tomato")
						option(value="Turquoise")
						option(value="Violet")
						option(value="Wheat")
						option(value="White")
						option(value="Whitesmoke")
						option(value="Yellow")
						option(value="Yellowgreen")

					
			.field
				span.bar hsl
				section
					input#hue.hsl.in(type="range"   value=0 max=360 min=0 step="1" oninput='hsl.h = this.nextSibling.value     = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
					input#hue2.hsl(type="number" value=0 max=360 min=0 step="any" oninput='hsl.h = this.previousSibling.value = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
				section
					input#saturation.hsl.in(type="range"   value=0 max=100 min=0 step="1" oninput='hsl.s = this.nextSibling.value     = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
					input#saturation2.hsl.in(type="number" value=0 max=100 min=0 step="any" oninput='hsl.s = this.previousSibling.value = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
				section
					input#lightness.hsl.in(type="range"   value=50 max=100 min=0 step="1" oninput='hsl.l = this.nextSibling.value     = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
					input#lightness2.hsl.in(type="number" value=50 max=100 min=0 step="any" oninput='hsl.l = this.previousSibling.value = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
				section(hidden)
					input#sv.hsl.in(type="range"   value=0 max=100 min=0 step="1" oninput='hsl.sv = this.nextSibling.value     = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
					input#sv1.hsl.in(type="number" value=0 max=100 min=0 step="any" oninput='hsl.sv = this.previousSibling.value = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
				section(hidden)
					input#value.hsl.in(type="range"   value=50 max=100 min=0 step="1" oninput='hsl.v = this.nextSibling.value     = this.value = minmaxsnap(this);;uppdateHSL();uppdate();')
					input#value2.hsl.in(type="number" value=50 max=100 min=0 step="any" oninput='hsl.v = this.previousSibling.value = this.value = minmaxsnap(this);;uppdateHSL();uppdate();')
				span.bar hwb
				section
					input#whiteness.hsl.in(type="range"   value=50 max=100 min=0 step="1" oninput='hsl.w = this.nextSibling.value     = this.value = minmaxsnap(this);;uppdateHBW();uppdate();')
					input#whiteness2.hsl.in(type="number" value=50 max=100 min=0 step="any" oninput='hsl.w = this.previousSibling.value = this.value = minmaxsnap(this);;uppdateHBW();uppdate();')
				section
					input#blackness.hsl.in(type="range"   value=50 max=100 min=0 step="1" oninput='hsl.b = this.nextSibling.value     = this.value = minmaxsnap(this);uppdateHBW();uppdate();')
					input#blackness2.hsl.in(type="number" value=50 max=100 min=0 step="any" oninput='hsl.b = this.previousSibling.value = this.value = minmaxsnap(this);;uppdateHBW();uppdate();')
			.field.preview
			.field
				span.bar cmyk
				section
					input#cyan.cmyk(type="range"   value=0 max=360 min=0 step="1" oninput='cmyk.c = this.nextSibling.value     = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
					input#cyan2.cmyk(type="number" value=0 max=360 min=0 step="any" oninput='cmyk.c = this.previousSibling.value = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
				section
					input#magenta.cmyk(type="range"   value=0 max=100 min=0 step="1" oninput='cmyk.m = this.nextSibling.value     = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
					input#magenta2.cmyk(type="number" value=0 max=100 min=0 step="any" oninput='cmyk.m = this.previousSibling.value = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
				section
					input#yellow.cmyk(type="range"   value=0 max=100 min=0 step="1" oninput='cmyk.m = this.nextSibling.value     = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
					input#yellow2.cmyk(type="number" value=0 max=100 min=0 step="any" oninput='cmyk.m = this.previousSibling.value = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
				section
					input#key.cmyk(type="range"   value=0 max=100 min=0 step="1" oninput='cmyk.m = this.nextSibling.value     = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
					input#key2.cmyk(type="number" value=0 max=100 min=0 step="any" oninput='cmyk.m = this.previousSibling.value = this.value = minmaxsnap(this);uppdateHSL();uppdate();')
				section
					input#pantone(type="text" onchange=``)
		.viewer
			.settings
				label.radio
					input(type="radio", name="mode" value="1" oninput="mode = this.value" checked)
					img.radioicon(src="box.svg", alt="", srcset="")
				label.radio
					input(type="radio", name="mode" value="0" oninput="mode = this.value" )
					img.radioicon(src="line.svg", alt="", srcset="")
				label.radio
					input(type="radio", name="mode" value="2" oninput="mode = this.value" )
					div.radioicon test
			#viewrgb
		script(src='main.js' type='text/javascript')
