@charset "UTF-8";
body {
  background: #000;
  font-family: roboto, sans-serif;
  color: white;
  margin: 0;
}

:root {
  --red: 255;
  --green: 0;
  --blue: 0;
  --hue: 0;
  --saturation: 100;
  --lightness: 50;
  --whiteness: 50;
  --blackness: 50;
  will-change: var(--green);
}

* {
  box-sizing: border-box;
}

input[type=range] {
  -webkit-appearance: none;
  background: #000;
  border-radius: 1rem;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}
input[type=range]:focus {
  border: none;
  outline: none;
}
input[type=range]:focus::-webkit-slider-thumb {
  border: 0.25rem solid #fff;
  background: rgb(var(--red), var(--green), var(--blue));
}
input[type=range]:focus::-moz-range-thumb {
  border: 0.25rem solid #fff;
  background: rgb(var(--red), var(--green), var(--blue));
  outline: none;
}
input[type=range]:hover {
  border: none;
  outline: none;
}
input[type=range]:hover::-webkit-slider-thumb {
  border: 0.25rem solid #fff;
  background: rgb(var(--red), var(--green), var(--blue));
}
input[type=range]:hover::-moz-range-thumb {
  border: 0.25rem solid #fff;
  background: rgb(var(--red), var(--green), var(--blue));
}
input[type=range]::-ms-thumb {
  appearance: none;
  width: 1em;
  height: 1em;
  background: rgb(var(--red), var(--green), var(--blue));
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.5rem;
  height: 0.5rem;
  background: rgb(var(--red), var(--green), var(--blue));
  cursor: pointer;
  border-radius: 1rem;
  transform: scale(2);
  border: 0 solid #fff;
  transition: border 0.1s linear;
}
input[type=range]::-moz-range-thumb {
  appearance: none;
  width: 1em;
  outline: none;
  height: 1em;
  border-radius: 1rem;
  background: rgb(var(--red), var(--green), var(--blue));
  border: 0 solid #fff;
}
input[type=range]::-moz-focus-outer {
  border: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number]::-webkit-outer-spin-button {
  height: 1rem;
  width: 1rem;
  background: red;
}

.radio {
  color: #898989;
}
.radio input:checked ~ span {
  color: #aff;
}
.radio input {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

nav {
  height: 3rem;
  background: #222;
}

#sidebar-left {
  background: #181818;
  height: 100vh;
  flex: 0 5 400px;
  transition: flex 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#sidebar-left section {
  padding: 1rem 1rem 0 1rem;
}

#sidebar-right {
  background: #181818;
  height: 100vh;
  flex: 0 5 200px;
  transition: flex 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#sidebar-right:hover {
  flex: 5 50%;
}

#middel {
  background: #111;
  height: 100vh;
  flex: 3 0 40%;
  align-items: center;
}

.gui {
  position: absolute;
}

.descriptor {
  display: inline-block;
  color: #818181;
  font-weight: lighter;
  padding: 0 0 0.25rem 0;
}

.icon {
  width: 6rem;
  padding: 1rem;
}
.icon:hover {
  transform: scale(1.3);
  transition: transform 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.colorswap {
  padding: 0.5rem 0 0 0;
}
.colorswap input {
  outline: 0;
  border-radius: 1rem;
  margin: 0 0.3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background: white;
  display: inline-block;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), border-radius 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.colorswap input:checked {
  transform: scale(1.2) translateY(1px);
  border-radius: 0.35rem;
}
.colorswap input:checked::after {
  content: "🧻";
  position: absolute;
  display: block;
  padding: 0.4rem 0.25rem;
}
.colorswap input:hover {
  transform: scale(1.1);
  border-radius: 0.65rem;
}
.colorswap input:hover:checked {
  transform: scale(1.2) translateY(1px);
  border-radius: 0.35rem;
}

.colorspace .colorspace {
  background: #222;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin: 0.25rem 0 0.25rem 0;
}
.colorspace .colorspace .row {
  display: flex;
  width: 100%;
  padding-bottom: 0.25rem;
}
.colorspace .row {
  display: flex;
  padding-bottom: 0.25rem;
}
.colorspace label {
  flex: 0 0 1rem;
  line-height: 1;
}
.colorspace input[type=range] {
  flex: 5 6 50%;
  height: 0.5rem;
}
.colorspace input[type=number] {
  flex: 0 5 100%;
  display: block;
  width: 100%;
  background: transparent;
  color: white;
  padding: 0.1rem;
  border: none;
}
#red[type=range] {
  background: linear-gradient(to right, rgb(0, var(--green), var(--blue)), rgb(255, var(--green), var(--blue)));
}

#green[type=range] {
  background: linear-gradient(to right, rgb(var(--red), 0, var(--blue)), rgb(var(--red), 255, var(--blue)));
}

#blue[type=range] {
  background: linear-gradient(to right, rgb(var(--red), var(--green), 0), rgb(var(--red), var(--green), 255));
}

#cyan[type=range] {
  background: linear-gradient(to right, rgb(calc(255 - var(--blackness) / 100 * 255), var(--green), var(--blue)), rgb(0, var(--green), var(--blue)));
}

#magenta[type=range] {
  background: linear-gradient(to right, rgb(var(--red), calc(255 - var(--blackness) / 100 * 255), var(--blue)), rgb(var(--red), 0, var(--blue)));
}

#yellow[type=range] {
  background: linear-gradient(to right, rgb(var(--red), var(--green), calc(255 - var(--blackness) / 100 * 255)), rgb(var(--red), var(--green), 0));
}

.huepointer {
  pointer-events: none;
  padding-top: 0.5em;
}
.huepointer:hover {
  background-image: linear-gradient(to right, transparent 0%, #008b00 calc(100 / 6 * 1% - 0.125em), white calc(100 / 6 * 1% - 0.125em), white calc(100 / 6 * 1% + 0.125em), #ef0000 calc(100 / 6 * 1% + 0.125em), transparent calc((100 / 6)*2 * 1% - 0.125em), white calc((100 / 6)*2 * 1% - 0.125em), white calc((100 / 6)*2 * 1% + 0.125em), transparent calc((100 / 6)*2 * 1% + 0.125em), #006efe calc((100 / 6)*3 * 1% - 0.125em), white calc((100 / 6)*3 * 1% - 0.125em), white calc((100 / 6)*3 * 1% + 0.125em), #008b00 calc((100 / 6)*3 * 1% + 0.125em), transparent calc((100 / 6)*4 * 1% - 0.125em), white calc((100 / 6)*4 * 1% - 0.125em), white calc((100 / 6)*4 * 1% + 0.125em), transparent calc((100 / 6)*4 * 1% + 0.125em), #ef0000 calc((100 / 6)*5 * 1% - 0.125em), white calc((100 / 6)*5 * 1% - 0.125em), white calc((100 / 6)*5 * 1% + 0.125em), #006efe calc((100 / 6)*5 * 1% + 0.125em), transparent calc((100 / 6)*6 * 1%));
  background-position: 0 -0.3em;
  background-origin: content-box;
  background-size: 100% 0.5em;
  background-repeat: repeat-x;
}

#hue {
  pointer-events: auto;
}

#hue[type=range] {
  background: linear-gradient(to right, hsl(0, calc(var(--saturation) * 1%), calc(var(--lightness) * 1%)), hsl(60, calc(var(--saturation) * 1%), calc(var(--lightness) * 1%)), hsl(120, calc(var(--saturation) * 1%), calc(var(--lightness) * 1%)), hsl(180, calc(var(--saturation) * 1%), calc(var(--lightness) * 1%)), hsl(240, calc(var(--saturation) * 1%), calc(var(--lightness) * 1%)), hsl(300, calc(var(--saturation) * 1%), calc(var(--lightness) * 1%)), hsl(360, calc(var(--saturation) * 1%), calc(var(--lightness) * 1%)));
}

#saturation_1[type=range] {
  background: linear-gradient(to right, hsl(var(--hue), 0%, calc(var(--lightness) * 1%)), hsl(var(--hue), 100%, calc(var(--lightness) * 1%)));
}

#saturation_2[type=range] {
  background: linear-gradient(to right, hsl(var(--hue), 0%, calc(1% * var(--lightness))), hsl(var(--hue), 100%, calc((50 - var(--blackness)/2)*1%)));
}

#saturation_3[type=range] {
  background: linear-gradient(to right, hsl(var(--hue), 0%, calc(var(--lightness) * 1%)), hsl(var(--hue), 100%, 50%));
}

#lightness[type=range] {
  background: linear-gradient(to right, hsl(var(--hue), calc(var(--saturation) * 1%), 0%), hsl(var(--hue), calc(var(--saturation) * 1%), 50%), hsl(var(--hue), calc(var(--saturation) * 1%), 100%));
}

#value[type=range] {
  background: linear-gradient(to right, hsl(var(--hue), calc(var(--saturation) * 1%), 0%), hsl(var(--hue), calc(var(--saturation) * 1%), calc((100 - var(--blackness))*0.5%)));
}

#intensity[type=range] {
  background: linear-gradient(to right, hsl(var(--hue), calc(var(--saturation) * 1%), 0%), hsl(var(--hue), calc(var(--saturation) * 1%), 50%));
}

#blackness[type=range], #key[type=range] {
  background: linear-gradient(to right, hsl(var(--hue), calc(var(--saturation) * 1%), 50%), hsl(var(--hue), 0%, calc(var(--whiteness)*0.5%)));
}

#whiteness[type=range] {
  background: linear-gradient(to right, hsl(var(--hue), 100%, calc((50 - var(--blackness)/2)*1%)), hsl(var(--hue), 0%, calc(100% - (var(--blackness)*0.5%))));
}
#whiteness[type=range][value="100"] {
  background: red;
}

#sidebar-right section {
  padding: 0.5rem;
}

.preformatedcode {
  display: block;
  width: 100%;
  background: #222;
  min-height: 1rem;
  border-radius: 0.25rem;
  padding: 1rem;
}

#dialog-menues {
  width: 100%;
  height: 100vh;
}

#notifications {
  position: absolute;
  left: 0;
  z-index: 10;
  right: 0;
  width: 100%;
  height: 3rem;
  margin: auto;
  background: salmon;
  border-bottom: 0.2rem red solid;
  color: black;
  display: none;
  padding: 1rem;
}
#notifications.active {
  display: block;
}

#middel {
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
}

input.clr-in:invalid {
  outline: blue 1px solid;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

#clr-search {
  padding: 0;
  margin: 0;
  border: none;
  display: contents;
}

#output {
  padding: 0;
  list-style-type: none;
  display: block;
  max-width: 40rem;
  margin: auto;
  height: 50rem;
  overflow-x: scroll;
  color: #c2c2c2;
}

#output > li {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.4rem;
  border-bottom: 1px #222 solid;
}

#output > li:first-child {
  background-color: #222;
  border-bottom: 1px #444 solid;
}

#searchfield {
  padding: 1rem 1rem;
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  outline: none;
  display: block;
  outline: none;
  border: none;
  background-color: #444;
  border-bottom: 1px #888 solid;
  color: white;
}
#searchfield::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
}

.preview {
  height: 2rem;
  margin: 0 0.5rem 0 0;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  flex: 0 0 2rem;
}

.preview:hover {
  border-radius: 0.5rem;
}

.preview:focus {
  border-radius: 0.5rem;
  border: 2px solid black;
}

.numbers {
  font-size: 0.9rem;
  padding: 0.25rem;
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  font-variant-numeric: tabular-nums;
  background-color: #222;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.numbers:focus {
  background-color: #fff;
}

.numbers:focus > span {
  color: #265700;
}

.numbers > span {
  box-sizing: content-box;
  text-align: right;
  width: 3ch;
  padding: 0 0.25rem;
  color: #b1ff94;
  font-weight: bold;
}

.numbers > span:last-child {
  color: #c1dfff;
}

.numbers > span:first-child {
  color: #ffd0d9;
}

.numbers:focus > span:last-child {
  color: #005177;
}

.numbers:focus > span:first-child {
  color: #9a003f;
}

.name {
  width: 100%;
  flex: 0 1 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.name > button {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  color: #2bbcff;
  font-weight: bold;
  cursor: pointer;
  font-size: 0.93em;
}

.name > button:hover, .name > button:focus {
  color: #cacaca;
}

.tags {
  font-size: 0.9rem;
  flex: 0 0 auto;
  color: #cacaca;
}

.tags > span {
  margin: 0 1rem 0 0;
  background-color: #383838;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

@media only screen and (max-width: 800px) {
  .wrapper {
    flex-direction: column-reverse;
    height: 100vh;
  }

  #middel {
    position: initial;
    overflow: hidden;
    flex: 0 1 auto;
    height: 100%;
    width: 100%;
    padding: 0;
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
    align-items: stretch;
  }
  #middel > nav {
    width: 100%;
    height: 3rem;
    flex: 0 0 3rem;
  }

  #output {
    width: 100%;
    height: 100%;
    flex: 0 1 auto;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .cmyk, .hue {
    display: none;
  }

  #sidebar-left {
    flex: 0 0 auto;
    height: auto;
    padding-bottom: 1rem;
  }
  #sidebar-left > nav {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
