body {
  background: #1a1a1a;
  font-family: roboto, sans-serif;
  color: white;
  margin: 0;
}

:root {
  --red: 127.5;
  --green: 127.5;
  --blue: 127.5;
  --hue: 0;
  --saturation: 0;
  --lightness: 50;
  --whiteness: 50;
  --blackness: 50;
}

.wrapper {
  display: flex;
}
.settings {
  position: absolute;
  margin: 1rem;
  user-select: none;
  line-height: 1;
}

.radio {
  display: inline-block;
  vertical-align: middle;
}
.radio input:checked ~ img {
  border: 0.1rem solid #888;
}
.radio input {
  display: none;
}
.radio .radioicon {
  box-sizing: border-box;
  border: 0.1rem solid transparent;
  border-radius: 2rem;
  text-align: center;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  height: 4rem;
  width: 4rem;
}
.radio .radioicon:hover {
  background: black;
}

.field {
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 0px;
  padding: 1rem 1rem;
  margin: 1.5rem 1rem;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  font-family: roboto, sans-serif;
  background: #fff;
  color: #111;
  display: block;
  max-width: 20rem;
}
.field .bar {
  font-weight: bold;
  display: inline-block;
  margin: 0.2rem;
}
.field.preview {
  background: rgb(var(--red), var(--green), var(--blue));
  height: 5rem;
}

.brand {
  background: yellow;
}

input[type=range] {
  -webkit-appearance: none;
  -moz-apperance: none;
  background: #222;
  height: 0.4rem;
  width: 9rem;
}
input[type=range]:focus {
  border: none;
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-apperance: none;
  width: 0.25rem;
  height: 0.65rem;
  border-radius: 20px;
  background: black;
}

.field {
  background: white;
  padding: 0.25rem;
}
.field input, .field select {
  border: none;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}
.field select {
  color: darkcyan;
  border-radius: 0.2rem;
}
.field select:focus {
  color: #222;
  border: none;
  outline: none;
  background: #eee;
}
.field .option {
  float: right;
}
.field #red {
  background: linear-gradient(to right, rgb(0, var(--green), var(--blue)), rgb(255, var(--green), var(--blue)));
}
.field #green {
  background: linear-gradient(to right, rgb(var(--red), 0, var(--blue)), rgb(var(--red), 255, var(--blue)));
}
.field #blue {
  background: linear-gradient(to right, rgb(var(--red), var(--green), 0), rgb(var(--red), var(--green), 255));
}
.field #hue {
  background: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}
.field #saturation {
  background: linear-gradient(to right, hsl(var(--hue), 0%, calc(var(--lightness) * 1%)), hsl(var(--hue), 100%, calc(var(--lightness) * 1%)));
}
.field #sv {
  background: linear-gradient(to right, hsl(var(--hue), 0%, calc(var(--lightness) * 1%)), hsl(var(--hue), 100%, 50%));
}
.field #lightness {
  background: linear-gradient(to right, hsl(var(--hue), calc(var(--saturation) * 1%), 0%), hsl(var(--hue), calc(var(--saturation) * 1%), 50%), hsl(var(--hue), calc(var(--saturation) * 1%), 100%));
}
.field #value {
  background: linear-gradient(to right, hsl(var(--hue), calc(var(--saturation) * 1%), 0%), hsl(var(--hue), calc(var(--saturation) * 1%), 100%));
}
.field #blackness {
  background: linear-gradient(to right, hsl(var(--hue), 100%, calc((50 + var(--whiteness)/2)*1%)), hsl(var(--hue), 0%, calc(var(--whiteness)*0.5%)));
}
.field #whiteness {
  background: linear-gradient(to right, hsl(var(--hue), 100%, calc((50 - var(--blackness)/2)*1%)), hsl(var(--hue), 0%, calc(100% - (var(--blackness)*0.5%))));
}

/*# sourceMappingURL=main.css.map */
