doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
		link(rel='stylesheet' href='main.css')
		title#tittle RGB: color picker
		meta(name="description" content='Color picker, and rgb,hsl, and hwb converter. 3d color space model with location of the selected color.')
		meta(name="keywords" content='RGB,HSL,HSV,HSB,Color Picker,Rgb cube, tool, sliders')
		meta(name="author" content='Leon Nikolai Engelsvold')
		link(rel="icon" sizes="any" type="data:image/svg+xml" href="favicon.ico")
	body
		main
			article
				header
					h1 Color models
				section
					h2 rgb.
				section
					h2 hsx
					h3 hsl
					h3 hsv
					h3 hsluv
					h3 h
					h3 hsi
					h3 hsi

		script(src='main.js' type='text/javascript')
