doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
		link(rel='stylesheet' href='main.css')
		title#tittle RGB: color picker
		meta(name="description" content='Color picker, and rgb,hsl, and hwb converter. 3d color space model with location of the selected color.')
		meta(name="keywords" content='RGB,HSL,HSV,HSB,Color Picker,Rgb cube, tool, sliders')
		meta(name="author" content='Leon Nikolai Engelsvold')
		link(rel="icon" sizes="any" type="data:image/svg+xml" href="favicon.ico")
	body
		.wrapper
			#sidebar-left
				nav
					label.radio
						input(type="radio", name="type" value="number" oninput='changeinput("clr-in",this.value)')
						span Numbers
					label.radio
						input(type="radio", name="type" value="range" checked oninput='changeinput("clr-in",this.value)')
						span Sliders
					label.radio
						input(type="radio", name="type" value="range" oninput='sitealert("This feature is currently not implemented")')
						span Graphical
				section.colorspace
					div.colorswap
						input(type="radio", name="selectedcolor" value="0" checked onchange="colorload(0);")#color-0
						input(type="radio", name="selectedcolor" value="1" onchange="colorload(1);")#color-1
						input(type="radio", name="selectedcolor" value="2" onchange="colorload(2);")#color-2
						input(type="radio", name="selectedcolor" value="3" onchange="colorload(3);")#color-3
						input(type="radio", name="selectedcolor" value="4" onchange="colorload(4);")#color-4
						input(type="radio", name="selectedcolor" value="5" onchange="colorload(5);")#color-5
				section.colorspace.rgb
					span.descriptor rgb
					.row
						input(type="range", step="any" value=255 max=255 min=0 name="")#red.clr-in
					.row
						input(type="range",  step="any" value=0 max=255 min=0 name="")#green.clr-in
					.row
						input(type="range", step="any" value=0 max=255 min=0 name="")#blue.clr-in
				section.colorspace.hue
					span.descriptor hsx
					.row.huepointer
						input(type="range", step="any" value=0 max=360 min=0 name="" orient="vertical")#hue.clr-in
					div.colorspace.hsl
						span.descriptor hsl
						.row
							input(type="range", step="any" value=100 max=100 min=0 name="")#saturation_1.clr-in
						.row
							input(type="range", step="any" value=50 max=100 min=0 name="")#lightness.clr-in
					div.colorspace.hsv
						span.descriptor hsv
						.row
							input(type="range", step="any" value=100 max=100 min=0 name="")#saturation_2.clr-in
						.row
							input(type="range", step="any" value=100 max=100 min=0 name="")#value.clr-in
					div.colorspace.hwb
						span.descriptor hwb
						.row
							input(type="range", step="any" value=0 max=100 min=0 name="")#whiteness.clr-in
						.row
							input(type="range", step="any" value=0 max=100 min=0 name="")#blackness.clr-in
				section.colorspace.cmyk
					span.descriptor cmyk
					.row
						input(type="range", value=0 max=100 min=0 name="" )#cyan.clr-in
					.row
						input(type="range",  value=0 max=100 min=0 name="")#magenta.clr-in
					.row
						input(type="range", value=0 max=100 min=0 name="")#yellow.clr-in
					.row
						input(type="range", value=0 max=100 min=0 name="")#key.clr-in
				canvas#canvas(width='100' height='100')
			#middel
				nav
					form#clr-search
						input#searchfield(type="text" noaria-label="Search" autocomplete="off" placeholder="Color Search" name="color-search")
				div
					ul#output
						li
							span worker failed
					
			
		script(src='js/p5.min.js' type='text/javascript')
		script(src='js/color_convert.js' type='text/javascript')
		//- script(src='js/test.js' type='text/javascript')
		//- script(src='js/worker.js' type='text/javascript')
		script(src='js/main.js' type='text/javascript')
